# 1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* np.메소드()
* np.속성

In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [1]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.2384881316943444,
 -0.17660872902728394,
 -0.20381283905454603,
 -0.29443633012606313,
 0.3488448977277535,
 0.35822917262843984,
 -1.146616590318364]

In [14]:
data=[]
for i in range(7):
    data.append(np.random.standard_normal())
print(data)

[-0.9740340682538241, -0.21478963025886266, -0.44407424188408506, 0.48018018875383695, -0.3514330942480286, 1.478596575121334, -0.005954499245398634]

# 2. 변수와 참조

In [8]:
a = [1, 2, 3]

In [9]:
b = a
b

[1, 2, 3]

In [10]:
a.append(4)
b

[1, 2, 3, 4]

# 3. 사용자 정의 함수&호출

In [11]:
def append_element(some_list, element):
    some_list.append(element)

In [17]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

# 4. 내장형 함수:type()

In [19]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

# 5. 형변환
* int()
* float()
* bool()

In [20]:
"5" + 5 #자동형변환x

TypeError: can only concatenate str (not "int") to str

In [21]:
#숫자간 자동형변환o
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

# 6. 내장 함수:isinstance()

In [22]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [24]:
a = 5
print(isinstance(a, int))

True

In [25]:
a = 5
b = 4.5
isinstance(a, (int, float)) #a가 int 또는 float이냐
isinstance(b, (int, float))

True

# 7.내장함수:iter()
* str
* list
* tuple

In [1]:
def isiterable(obj):
    try:
        iter(obj) #iter 호출
        return True
    except TypeError: # not iterable
        return False

In [6]:
print(isiterable("a string"))
print(isiterable([1, 2, 3]))
print(isiterable(5))
#print를 사용하지 않으면 마지막 줄 결과값만 출력

True
True
False

In [7]:
5 - 7
12 + 21.5
5 <= 2

False

# 8. key word : is, is not
* is : 두개의 객체가 동일한가
* is  not : 두 개의 객체가 상이한가

In [10]:
a = [1, 2, 3]
b = a
c = list(a) #새로운 객체 생성
print(a is b)
print(a is not c) #a와 c는 서로 다른 객체

True
True

In [13]:
a == c #값만 같음

False

# 9. none 객체
* 파이썬 결측값 null

In [16]:
a = None
print(a)
a is None

None

True

# 10. list 자료형
* iterable 객체
* vr=[]
* vr=list()
* mutable 객체
  * 수정, 삭제, 추가
  * 조회 : 인덱싱
    * 변수명[점수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드:
  * 변수명.count()
* 연산자 : +, *

In [17]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

# 11. tuple 자료형
* iterable 객체
* vr=()
* vr=tuple()
* immutable 객체
  * 조회 : 인덱싱
    * 변수명[점수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드:
  * tup.count()
* 연산자 : +, *

In [19]:
a_tuple = (3, 5, (4, 5))
a_tuple[1]
#a_tuple[1] = "four" #수정 불가

5

In [20]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [21]:
fval = 7.243
fval2 = 6.78e-5

In [22]:
3 / 2

1.5

In [23]:
3 // 2

1

# 12. str 자료형
* iterable 객체
* vr=" "
* vr=str()
* immutable 객체
  * 조회 : 인덱싱
    * 변수명[점수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드 :
  * str.count()
  * str.replace()
* 연산자 : +, *

In [24]:
c = """
This is a longer string that
spans multiple lines
"""

In [25]:
c.count("\n")

3

In [29]:
a = "this is a string"
print(a[10])
# a[10] = "f" #10번째를 f로 수정하는것은 불가능

s

In [30]:
b = a.replace("string", "longer string") #수정 -> 새로운 문자열
b

'this is a longer string'

In [31]:
a

'this is a string'

In [32]:
a = 5.6
s = str(a)
print(s)

5.6

In [35]:
s = "python"
print(list(s))
print(s[:3]) #s[0:3:1]

['p', 'y', 't', 'h', 'o', 'n']
pyt

In [38]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

### <문자열 포멧 방법>

In [41]:
template = "{0:.2f} {1:s} are worth US${2:d}" #method1
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [43]:
amount = 10 #method2
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

In [40]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

# 13. 문자열 인코딩 & 디코딩
* str.encoding()
* 변수명.decoding()

In [44]:
val = "español"
val

'español'

In [47]:
val_utf8 = val.encode("utf-8")
print(val_utf8)
print(type(val_utf8))

b'espa\xc3\xb1ol'
<class 'bytes'>

In [46]:
val_utf8.decode("utf-8")

'español'

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. Bool

In [48]:
True and True
False or True

True

In [52]:
int(False) #0
int(True) #1

1

In [50]:
a = True
b = False
not a
not b

True

In [53]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [54]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열 데이터 처리
* datatime
* datatime.timedelta

In [56]:
?datetime

Object `datetime` not found.

In [57]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [58]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [59]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [60]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [61]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [62]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [66]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt #시간차이 -> 기간
print(delta)
print(type(delta))

17 days, 1:59:39
<class 'datetime.timedelta'>

In [67]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

# 16. generator: 
* range()
* enmurate()
* zip()
* map()

In [74]:
print(range(10)) #generator객체
print(list(range(10))) #데이터 접근
for i in range(10): #데이터 접근2
    print(i)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

In [75]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [76]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [77]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668